<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.groceryshare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListActivity"></activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".BuyerSignup2" />
        <activity android:name=".BuyerSignup" />
        <activity android:name=".NewAccountActivity" />
        <activity android:name=".ShopperRatesBuyer" />
        <activity android:name=".UploadReceipt" />
        <activity android:name=".ShoppingListShopperView" />
        <activity android:name=".ShopperSignup" />
        <activity android:name=".ShopperSignup2" />
        <activity android:name=".ViewOrderInfoShopper" />
        <activity android:name=".OrderFulfillShopper" />
        <activity android:name=".ComplaintsShopper" />
        <activity android:name=".ReviewsAndRatingsShopper" />
        <activity android:name=".SettingsShopper" />
        <activity android:name=".BuyerHomeScreen" />
        <activity android:name=".PastTripsShopper" />
        <activity android:name=".CurrentTripsShopper" />
        <activity android:name=".ShoppingTripsAvailable" />
        <activity android:name=".ShopperHomeScreen" />
        <activity android:name=".OrderActivity" />
        <activity android:name=".PastActivity" />
        <activity android:name=".PendingActivity" />
        <activity android:name=".PersonalActivity" />
        <activity android:name=".RatingActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>